*{
  text-align: center;

}
.root{
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* transition: 0.3s; */
  min-width: 20%;
  margin:25px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h3,.field{
  padding: 0px 16px;
  margin: 5px;
  text-align: left; 
}
.field{
  display: flex;
  align-items: center;
  justify-content:start
}
.container{
  margin: 20px 0;
}
.icons-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ededed;
}
.icon-div{
margin: 5%;
width: 33%;
}
.img-container{
  display: flex;
  background-color:#ededed;
}
.icons{
  margin: 100px;
}
.center{
  border-left: 2px solid #d3d3d3;
  border-right: 2px solid #d3d3d3;
}